.progressBarContainer {
    width: 400px;
    height: 15px;
    background-color: gray;
    margin-bottom: 10px;
    border-radius: 25px;
}

.progressBar {
    border-radius: 25px;
    background-color: red;
    height: 15px;
    transition: all 0.75s ease-in-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    font-size: 14px;
    padding: 0 4px;
    vertical-align: middle;
    text-align: right;
    border-radius: 25px;
    color: white;
    background-color: darkred;
    width: max-content;
}